<h3>Select the range of dates you'd like to view</h3>
<br>
<form>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" ng-model="startDate" placeholder="mm/dd/yyyy">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" ng-model="endDate" placeholder="mm/dd/yyyy">
    <button ng-click="getOldDates()">Submit</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Accomplishment</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="task in oldTasks track by $index">
        <td>
            {{task.date | date}}
        </td>
        <td>
            {{task.task_name}}
        </td>
    </tr>
    </tbody>
</table>

<div ng-if="noTasks=true">{{oldTasks}}<br><br></div ng-if>


<div class="navigation">
    <a href="/menu"><button>Main Menu</button></a><br><br>
    <a href="/history"><button>Back to This Week</button></a><br><br>
    <a href="/task_entry"><button>Task Entry</button></a>
    <input type="submit" ng-click="logoutUser()" value="Log Out">
</div>
