<div class="thankyou" ng-show="!thankyou">
    <form ng-submit="submitNewData()">
        <div>
            <label for="firstname">First Name:</label>
            <input type="text" ng-model="data.firstname" id="firstname">
        </div><br>
        <div>
            <label for="lastname">Last Name:</label>
            <input type="text" ng-model="data.lastname" id="lastname">
        </div><br>
        <div>
            <label for="username">Select a Username:</label>
            <input type="text" ng-model="data.username" id="username">
        </div><br>

        <div>
            <label for="password">Password:</label>
            <input type="text" ng-model="data.password" id="password">
        </div><br>

        <div>
            <input type="submit" value="Register" ng-click="showThankyou()">
        </div>
    </form>
    <div>
        <a href="/login">Already Have an Account?</a>
    </div>
</div>
<br>
<div class="thankyou" ng-show="thankyou">
    <h3>Thank you for creating an account for {{data.firstname}} {{data.lastname}}.</h3>
    <br>
    <a href="/login" class="newuser"><button>Click Here to Log In</button></a>
    </div>
</div>

