<div>
    <form action="/taskEntry" method="post">
        <div name="taskEntry">
            What did I accomplish today?<br><textarea name="taskList" ng-model="taskList" ng-list="&#10;" ng-trim="false" placeholder="List items here&#10;A second task&#10;One more here"></textarea>
        </div>
        <br>
            This is the taskList array(REMOVE BEFORE DEPLOYMENT): {{taskList}}
        <input type="submit" ng-click="submitTasks()" value="Done!" class="done">
        <!--<a href="/history"><button class="done">Done!</button></a>-->
    </form>
    <a href="/select_tasks"><button>Select More</button></a>
    <a href="/history"><button>View History</button></a>

</div>