<form ng-submit="submitTasks(); showHistory()">
    <div name="taskEntry">
        <p>What did I accomplish today?</p><br><textarea name="stuff" ng-model="taskList" ng-list="&#10;" ng-trim="false" placeholder="List items here&#10;A second task&#10;One more here"></textarea>
    </div>
    <br>
    <input type="submit" value="Done!" class="done">
</form>
<br>
<!--<a href="/select_tasks"><button>Select More</button></a>-->
<a href="/history"><button>View History</button></a>
<input type="submit" ng-click="logoutUser()" value="Log Out">